<div class="container-login">

    <form action="/login" method="post" class="login-form">
    <h1 class="login-form-title">Bem-Vindo</h1>

    <div class="login-form-group">
        <label for="email" class="login-form-label">E-mail</label>
        <input type="text" name="email" id="email" class="login-form-input" placeholder="Digite seu e-mail" required>
    </div>

    <div class="login-form-group">
        <label for="senha" class="login-form-label">Senha</label>
        <input type="password" name="senha" id="senha" class="login-form-input" placeholder="Digite sua senha" required>
    </div>

    <button type="submit" class="login-form-button">Entrar</button>
</form>

</div>