<form action="/fazerChamado" method="POST" >
    <h1 class ="form-title">Criar Solicitação</h1>

    <label for="titulo" >Título</label>
    <input type="text" id="titulo" name="titulo" required>

    <label for="descricao_problema">Descrição do Problema</label>
    <textarea id="descricao_problema" name="descricao_problema" rows="4" required></textarea>

    <label for="foto">Foto (opcional)</label>
    <input type="file" id="foto" name="foto" accept="image/*">

    <button type="submit">Enviar Solicitação</button>
</form>
